name: Continuous Delivery

on:
  pull_request:
    branches:
      - develop
      - main   

jobs:
    build_and_push:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v5

            - name: DockerHub Login
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            -   name: Testes Integrados
                run: |
                    docker compose up -d
                    chmod +x ./server/run_integrated_tests.sh
                    ./server/run_integrated_tests.sh

            -   name: Build and push
                uses: docker/build-push-action@v6
                with:
                    push: true
                    tags: caroolt/cp-2-microservices-and-web-engineering:latest
