name: Continuous Delivery

on:
  pull_request:
    branches:
      - main

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        
        steps: 
            - name: Checkout
              uses: actions/checkout@v5

            - name: DockerHub Login
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Image Build
              run: docker build -t caroolt/cp-2-microservices-and-web-engineering:latest .

            - name: Image Push DockerHub
              run: docker push caroolt/cp-2-microservices-and-web-engineering:latest
