name: Continuous Integration

on:
  push:
    branches:
      - develop
      - feature/**
      - hotfix
      - fix/**
      - test/**
      - bugfix/**
      - chore/**
      - docs/**

jobs:
    build:
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout
              uses: actions/checkout@v5

            - name: Application Build
              run: mvn clean package -DskipTests
              
            - name: Unit Tests Executions
              run: mvn test